@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'poppins', sans-serif;
   
    background-image: url(images/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;

}

.topbar{
    /* position: fixed; */
    padding: 10px 20px;
    top: 0;
    width: 100vw;
    background: transparent;
    color: #000000;
    font-size: 22px;
    z-index: 100;
    /* Additional styling for the sticky navbar */
  }

  .sticky   {
    position: fixed;
    padding: 10px 20px;
    top: 0;
    display: inline-block;
    background-color: #3AA6B9;
    width: 100vw;
    font-size: 20px;
    z-index: 100;
    color: white;
    
}
.sticky a{
    color: white;
}

nav{
    float: right;
}

nav ul {
    list-style: none;
    position: relative;
}

nav ul li {
    
    /* margin: auto; */
    display: inline-block;
    /* height: 5px; */
}

nav ul li a {
    padding: 0 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.infocontainer {
    color: white;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    margin: 90px auto;
    height: 70vh;
    width: 80vw;
    justify-content: space-around;
    border-radius: 10px;
}

.devpic {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devpic img {
    height: 60vh;
    border-radius: 20px;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hello {
    font-size: 30px;
    color: black;
}

#name {
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color: #176B87;
}

/* #talk {
    font-size: 30px;
} */

.wrapper{
    margin-top: 10px;
    display: inline-flex;
    
}

.wrapper .staticText{
    /* color: aqua; */
    font-size: 40px;
    font-weight: 400;
}

.wrapper .dynamicText{
    /* margin-left:30px; */
    height: 90px;
    line-height: 52px;
    /* background: rgb(200, 200, 9); */
    overflow: hidden;

}

 .dynamicText li{
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(191, 91, 91);
    font-size: 40px;
    /* font-weight: 550; */
    position: relative;
    top: 0;
    margin-bottom:65px ;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide{
    100%{
       top: -360px;
    }
}

.dynamicText li span{
    position: relative;
}

/* .dynamicText li span::after{
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background:black;
      border-left: 2px solid white;
      animation: typing 2s steps(11) infinite;
} */

/* @keyframes typing{
    100%{
        left:100%;
        margin: 0 -35px 0 16px;
    }
} */



#p2,#p1,#p3{
    color: #D61355;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 40px; */
}



#btn {
    /* margin-top: 5px; */
}


/* --------------------------------about ---------------- */

.about_container{
    
    height: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* background-color: #cae962; */
    display: flex;
    margin: 200px 0;
}

.about_info{
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 30px 200px;
    background-color: #2b2b2b;

}

.about_info h2{
    margin-top: 80px ;
}

.about_info p{
    margin-bottom: 60px;
    font-size: 20px;
}

/* ------------------Education-------------------- */

.topic{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 40px 0 0 0;
}
.edu-box{
    width: 100vw;
    color: black;
    background-color: white;
    padding: 60px 0 10px 0;
}

.eduinfo{
    position:relative;
    max-width: 1000px;
    margin: 100px auto;
    /* background-color:#D61355; */
   
}

.edutext{
    padding: 30px 30px;
   position: relative;
   width: 50%;
   /* background-color: yellow; */
   z-index: 20;
   
   
}

.content{
    /* background-color: rgb(86, 176, 255); */
    position: relative;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 8px ;
    font-size: 15px;
    
}
.left-box{
    /* background-color: aquamarine; */
    left: 0;
}

.right-box{
    /* background-color: #13d627; */
    left: 50%;
} 

.edutext img{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    right: -26px;
    top: 40px;
    z-index: 20;
    /* background: white; */
}

 .right-box img{
    left: -26px;
    z-index: 20;
 }

 .eduinfo::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: #000000;
    top: -95px;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
 }


/* -----------------project-------------- */

.proj-box{
    width: 100vw;
    height: auto;
    background: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around ;
    align-items: center;
    padding: 50px 0;
    
}

.proj-list{

    flex-wrap: wrap;
    /* background: #D61355; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 30px 0;
    
    }

.proj-content{
    max-width: 100%;
    margin:20px 30px ;
    /* background: #877f17; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  
}

.proj-content img{
    height: 350px;
    margin: 0;
    width: 100%;
    border-radius: 10px;
    display: flex;
    transition: 0.6s;
}

.proj-content:hover img{
    transform: scale(1.1);
}

.layer{
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 0, 96,.3) ,#068DA9);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: height 0.3s;
    scroll-behavior: smooth;
}


.proj-content:hover .layer{
    height: 100%;

}

.layer h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px ;
}
.layer p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.layer .fa-solid{
    font-size: 18px;
    text-decoration: none;
    color: #068DA9;
    background: white;
    line-height: 50px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
  }
  


/* --------------------contact-------------------- */

.contact-box{
    background: #35363a;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 40px 0;
}

.contact-info{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'poppins';   
}

.contact-info a {
    margin: 0 150px;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    margin-top: 5px;

}

.left-div a span{
    
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    color: #068DA9;
}

.right-div a span{
    
    text-decoration: none;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
}


.left-div, .right-div{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

/* -----------copyright----------------------- */

.cright{
    width: 100vw;
    background: #000000;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

